{% extends "base" %}

{% block title %}Challenges{% endblock title %}

{% block content %}
<div class="flex flex-wrap gap-8 p-20">
  {% for chal in challenges %}
  <div class="w-1/5 flex-grow-0 bg-slate-300 p-8 rounded-2xl">
    <div class="flex items-center justify-center h-full">{{ chal.name }}</div>
  </div>
  {% endfor %}
</div>

{% endblock content %}